.name {
    font: italic bold 25px Arial, sans-serif;
    margin: 20px;
    padding: 20px;
   
}
.sec {
    font:  15px Verdana, sans-serif;
    width: 500px;
    height: 100px;
    padding: 20px;
    margin: 20px;
    
}
#big {
    font:  bold 20px Arial, sans-serif;
    margin: 10px;   
    
}
#level {
    font:   15px Verdana, sans-serif;

}
footer {
    position: fixed;
    left: 0; bottom: 0;
    padding: 0px;
    height: 10px;
    padding: 20px;
}